@import 'colors-solarized'

html
  font-family Consolas, Tahoma, Helvetica, Arial, san-serif
  background base2()

body
  //padding-right 5.6em

.container
  font-family Consolas, Tahoma, Helvetica, Arial, san-serif
  font-size 1.5rem
  background base3()
  padding 1rem 2rem

.skilstak_
  line-height 2rem
  height 2rem
  border-radius 0.05rem
  background base02()
  padding 0.1rem 0.25rem
  margin 0 0.3rem
  text-decoration none

@keyframes blink 
  0%
  50%
    opacity 0
  50.01%
  100%
    opacity 1

.cursor
  color base3()
  font-weight 1000
  animation blink 0.7s infinite linear alternate
