@import 'colors-solarized'

html
  font-family Consolas, Tahoma, Helvetica, Arial, san-serif
  background base2()

.container
  font-family Consolas, Tahoma, Helvetica, Arial, san-serif
  font-size 20px
  background base3()
  padding 10px 20px
  border-radius 10px
  width 80%
  margin 10px auto

.skilstak_
  line-height 30px
  height 20px
  border-radius 4px
  background base02()
  padding 2px 6px
  margin 0 5px
  text-decoration none

@keyframes blink 
  0%
  50%
    opacity 0
  50.01%
  100%
    opacity 1

.cursor
  color base3()
  font-weight 1000
  animation blink 0.7s infinite linear alternate

/*
@media all and (min-width: 354px)
  #thumble-pad
    width 326px
  .container
    width 282px

@media all and (min-width: 458px)
  #thumble-pad
    width 432px
  .container
      width 392px

@media all and (min-width: 674px)
  #thumble-pad
    width 648px
  .container
      width 608px

@media all and (min-width: 1322px)
  #thumble-pad
    width 1296px
  .container
      width 1254px
*/
