@import 'colors-solarized'

html
  font-family Consolas, Tahoma, Helvetica, Arial, san-serif
  background base2()

// here's the thumble stuff
/*
#thumble
  font-family WingDings
  color base3()

#thumble-main
  background base03()

#thumble-pad
  background base01()

*/
