// Thumble Styles
@import 'normalize'

// customize these

pad-background = grey - 10
pad-opacity = 0.98

thumble-font-family = WingDings
btn-off-opacity = 0.84
btn-hover-opacity = 0.84
btn-hover-color = black

main-on-opacity = 0.24

// ... and mess with the rest if you really want

opacity(n)
  zoom 1
  opacity n
  filter unquote('alpha(opacity=' + round(n * 100) + ')')

#thumble
  position fixed
  left 0px
  top 0px
  padding 0px
  margin 0px

#thumble-pad
  opacity(pad-opacity)
  display block
  margin 4px
  padding 4px
  background pad-background
  border-radius 10px
  min-width 326px


#thumble-main, .thumble-btn
  opacity(btn-off-opacity)
  display inline-block
  background grey
  z-index 1
  line-height 60px 
  height 60px 
  width 60px 
  padding 20px
  border-radius 10px
  text-decoration none !important
  vertical-align middle
  text-align center
  border 0
  transition opacity 0.25s ease
  font-size 60px
  color white
  font-family thumble-font-family
  margin 4px

#thumble-main
  opacity(main-on-opacity)

.thumble-btn:hover, #thumble-main:hover
  opacity(btn-hover-opacity)
  background btn-hover-color

#thumble-pad.off, #thumble-main.off
  display none
