@import 'normalize'

[id*="off"], [class*="off"]
  display none

opacity(n)
  zoom 1
  opacity n
  filter unquote('alpha(opacity=' + round(n * 100) + ')')

absolute-center()
  position absolute
  margin auto
  top 0
  left 0
  bottom 0
  right 0

overlay()
  position fixed
  top 0
  right 0
  z-index 10 
  width 100%
  height 100%
  text-align center
  vertical-align middle

btn-basics()
  display inline-block
  transition opacity 0.25s ease
  text-align center
  vertical-align middle
  border 0
  color white // default
  border-radius 0.25rem

btn(n=1)
  font-size round(0.95rem * n,2)
  padding round(0.5rem * n * 0.5, 3)
  margin round(0.04rem * n,2) 

box16x9(long)
  width long 
  height round(long / 1.777, 3)

box9x16(long)
  height long 
  width round(long / 1.777, 3)

btn-box()
  absolute-center()
  display inline-block
  text-align center
  border 0

btn-p(n=1)
  btn(n)
  line-height round(1.03rem * n, 3)
  height round(1.03rem * n, 3)
  width round(0.92rem * n, 3)

btn-l(n=1)
  btn(n)
  line-height round(0.92rem * n, 3)
  height round(0.92rem * n, 3)
  width round(1.09rem * n * 0.91, 3)

btn-box-p(n=1)
  box9x16(round(8rem * n, 3))
  padding round(0.1rem * n, 3)

btn-box-l(n=1)
  box16x9(round(8rem * n, 3))
  padding round(0.1rem * n, 3)

#thumble
  overlay()

#thumble-pad
  btn-box()
  border-radius 0.3rem

.thumble-btn
  btn-basics()

// yes these media queries could be done in javascript
// but this really ain't so bad (compared to jQuery for ex)

@media only screen
  #thumble-pad
    btn-box-p(1)
  .thumble-btn
    btn-p(1)

@media only screen and (min-width: 7em)
  #thumble-pad
    btn-box-p(1.1)
  .thumble-btn
    btn-p(1.1)

/* bork for now
@media only screen and (min-width: 7em) and (min-height: 8em)
  #thumble-pad
    btn-box-l(0.8)
  .thumble-btn
    btn-l(0.8)
*/

@media only screen and (min-width: 8em)
  #thumble-pad
    btn-box-l(0.9)
  .thumble-btn
    btn-l(0.9)

@media only screen and (min-width: 9em)
  #thumble-pad
    btn-box-l(1)
  .thumble-btn
    btn-l(1)

@media only screen and (min-height: 11em) and (min-width: 6em)
  #thumble-pad
    btn-box-p(1.3)
  .thumble-btn
    btn-p(1.3)

@media only screen and (min-width: 12em)
  #thumble-pad
    btn-box-l(1.3)
  .thumble-btn
    btn-l(1.3)

@media only screen and (min-width: 13em)
  #thumble-pad
    btn-box-l(1.4)
  .thumble-btn
    btn-l(1.4)

@media only screen and (min-width: 14em)
  #thumble-pad
    btn-box-l(1.5)
  .thumble-btn
    btn-l(1.5)

@media only screen and (min-width: 15em)
  #thumble-pad
    btn-box-l(1.6)
  .thumble-btn
    btn-l(1.6)

@media only screen and (min-width: 16em)
  #thumble-pad
    btn-box-l(1.7)
  .thumble-btn
    btn-l(1.7)

@media only screen and (min-width: 17em)
  #thumble-pad
    btn-box-l(1.8)
  .thumble-btn
    btn-l(1.8)

@media only screen and (min-width: 18em)
  #thumble-pad
    btn-box-l(1.9)
  .thumble-btn
    btn-l(1.9)

@media only screen and (min-width: 19em)
  #thumble-pad
    btn-box-l(2.0)
  .thumble-btn
    btn-l(2.0)

@media only screen and (min-width: 20em)
  #thumble-pad
    btn-box-l(2.1)
  .thumble-btn
    btn-l(2.1)

@media only screen and (min-width: 21em)
  #thumble-pad
    btn-box-l(2.2)
  .thumble-btn
    btn-l(2.2)

@media only screen and (min-width: 21em)
  #thumble-pad
    btn-box-l(2.2)
  .thumble-btn
    btn-l(2.2)

@media only screen and (min-width: 22em)
  #thumble-pad
    btn-box-l(2.3)
  .thumble-btn
    btn-l(2.3)

@media only screen and (min-width: 23em)
  #thumble-pad
    btn-box-l(2.4)
  .thumble-btn
    btn-l(2.4)

@media only screen and (min-width: 24em)
  #thumble-pad
    btn-box-l(2.5)
  .thumble-btn
    btn-l(2.5)

@media only screen and (min-width: 25em)
  #thumble-pad
    btn-box-l(2.6)
  .thumble-btn
    btn-l(2.6)

@media only screen and (min-width: 26em)
  #thumble-pad
    btn-box-l(2.7)
  .thumble-btn
    btn-l(2.7)

@media only screen and (min-width: 27em)
  #thumble-pad
    btn-box-l(2.8)
  .thumble-btn
    btn-l(2.8)

@media only screen and (min-width: 28em)
  #thumble-pad
    btn-box-l(2.9)
  .thumble-btn
    btn-l(2.9)

@media only screen and (min-width: 29em)
  #thumble-pad
    btn-box-l(3.0)
  .thumble-btn
    btn-l(3.0)

@media only screen and (min-width: 30em)
  #thumble-pad
    btn-box-l(3.1)
  .thumble-btn
    btn-l(3.1)

@media only screen and (min-width: 31em)
  #thumble-pad
    btn-box-l(3.2)
  .thumble-btn
    btn-l(3.2)

@media only screen and (min-width: 32em)
  #thumble-pad
    btn-box-l(3.3)
  .thumble-btn
    btn-l(3.3)

@media only screen and (min-width: 33em)
  #thumble-pad
    btn-box-l(3.4)
  .thumble-btn
    btn-l(3.4)

@media only screen and (min-width: 34em)
  #thumble-pad
    btn-box-l(3.5)
  .thumble-btn
    btn-l(3.5)

@media only screen and (min-width: 35em)
  #thumble-pad
    btn-box-l(3.6)
  .thumble-btn
    btn-l(3.6)

@media only screen and (min-width: 36em)
  #thumble-pad
    btn-box-l(3.7)
  .thumble-btn
    btn-l(3.7)

@media only screen and (min-width: 37em)
  #thumble-pad
    btn-box-l(3.8)
  .thumble-btn
    btn-l(3.8)

@media only screen and (min-width: 38em)
  #thumble-pad
    btn-box-l(3.9)
  .thumble-btn
    btn-l(3.9)

@media only screen and (min-width: 39em)
  #thumble-pad
    btn-box-l(4.0)
  .thumble-btn
    btn-l(4.0)

@media only screen and (min-width: 40em)
  #thumble-pad
    btn-box-l(4.1)
  .thumble-btn
    btn-l(4.1)

@media only screen and (min-width: 41em)
  #thumble-pad
    btn-box-l(4.2)
  .thumble-btn
    btn-l(4.2)

@media only screen and (min-width: 42em)
  #thumble-pad
    btn-box-l(4.3)
  .thumble-btn
    btn-l(4.3)

@media only screen and (min-width: 43em)
  #thumble-pad
    btn-box-l(4.4)
  .thumble-btn
    btn-l(4.4)

@media only screen and (min-width: 44em)
  #thumble-pad
    btn-box-l(4.5)
  .thumble-btn
    btn-l(4.5)

@media only screen and (min-width: 45em)
  #thumble-pad
    btn-box-l(4.6)
  .thumble-btn
    btn-l(4.6)

@media only screen and (min-width: 46em)
  #thumble-pad
    btn-box-l(4.7)
  .thumble-btn
    btn-l(4.7)

@media only screen and (min-width: 47em)
  #thumble-pad
    btn-box-l(4.8)
  .thumble-btn
    btn-l(4.8)

@media only screen and (min-width: 48em)
  #thumble-pad
    btn-box-l(4.9)
  .thumble-btn
    btn-l(4.9)

@media only screen and (min-width: 49em)
  #thumble-pad
    btn-box-l(5.0)
  .thumble-btn
    btn-l(5.0)

@media only screen and (min-width: 50em)
  #thumble-pad
    btn-box-l(5.1)
  .thumble-btn
    btn-l(5.1)

@media only screen and (min-width: 51em)
  #thumble-pad
    btn-box-l(5.2)
  .thumble-btn
    btn-l(5.2)

@media only screen and (min-width: 52em)
  #thumble-pad
    btn-box-l(5.3)
  .thumble-btn
    btn-l(5.3)

@media only screen and (min-width: 53em)
  #thumble-pad
    btn-box-l(5.4)
  .thumble-btn
    btn-l(5.4)

@media only screen and (min-width: 54em)
  #thumble-pad
    btn-box-l(5.5)
  .thumble-btn
    btn-l(5.5)

@media only screen and (min-width: 55em)
  #thumble-pad
    btn-box-l(5.6)
  .thumble-btn
    btn-l(5.6)

@media only screen and (min-width: 56em)
  #thumble-pad
    btn-box-l(5.7)
  .thumble-btn
    btn-l(5.7)

@media only screen and (min-width: 57em)
  #thumble-pad
    btn-box-l(5.8)
  .thumble-btn
    btn-l(5.8)

@media only screen and (min-width: 58em)
  #thumble-pad
    btn-box-l(5.9)
  .thumble-btn
    btn-l(5.9)

@media only screen and (min-width: 59em)
  #thumble-pad
    btn-box-l(6.0)
  .thumble-btn
    btn-l(6.0)

@media only screen and (min-width: 60em)
  #thumble-pad
    btn-box-l(6.1)
  .thumble-btn
    btn-l(6.1)

/* ----------------------------------------- */

#thumble
  background rgba(0,0,0,0.90)

#thumble-pad
  //background rgba(90,90,90,0.84)
  background orange

.thumble-btn
  //background rgba(90,90,90,0.84)
  background blue
  color white

.thumble-btn:hover
  background rgba(0,0,0,0.84)
