// you'll get one landscape and one portrait media query for each
mq-count = 10

// sets the step factor between mq sizes
factor-increment = 1.0

// customize your colors, size and other font-specific tweeks here

#thumble
  background rgba(0,0,0,0.90)

#thumble-pad
  //background rgba(90,90,90,0.84)
  background orange

.thumble-btn
  //background rgba(90,90,90,0.84)
  background blue
  color white

.thumble-btn:hover
  background rgba(0,0,0,0.84)
