// Thumble Styles
@import 'normalize'

// customize these

pad-background = grey - 10
pad-opacity = 0.98

thumble-font-family = WingDings
btn-off-opacity = 0.84
btn-hover-opacity = 0.84
btn-hover-color = black

main-off-opacity = 0.25
main-on-opacity = 0.84
main-hover-opacity = 0.84
main-hover-color = black

// ... and mess with the rest if you really want


opacity(n)
  zoom 1
  opacity n
  filter unquote('alpha(opacity=' + round(n * 100) + ')')

#thumble
  position fixed
  padding 0px
  margin 0px

#thumble-pad
  opacity(pad-opacity)
  display block
  margin 4px
  padding 4px
  background pad-background
  border-radius 10px
  min-width 326px

#thumble-btns.off
  display none

#thumble-pad.off
  background none

#thumble-main, .thumble-btn
  opacity(btn-off-opacity)
  display inline-block
  background grey
  z-index 1
  line-height 60px 
  height 60px 
  width 60px 
  padding 20px
  border-radius 10px
  text-decoration none !important
  vertical-align middle
  text-align center
  border 0
  transition opacity 0.25s ease
  font-size 60px
  color white
  font-family thumble-font-family
  margin 4px

.thumble-btn:hover
  opacity(btn-hover-opacity)
  background btn-hover-color

#thumble-main:hover
  opacity(main-hover-opacity)
  background main-hover-color

#thumble-main.off
  opacity(main-off-opacity)
  height 20px
  line-height 20px
  width 20px
  padding 30px 45px 30px 15px
  text-align center
  transition opacity 0.25s ease

@media all and (min-width: 326px)
  #thumble-pad
    width 326px

@media all and (min-width: 432px)
  #thumble-pad
    width 432px

@media all and (min-width: 648px)
  #thumble-pad
    width 648px

@media all and (min-width: 1296px)
  #thumble-pad
    width 1296px

